Repository harrystech/arthur-redshift-etl, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation

.github/labeler.yml:

python:
  - '*.py'
  - '**/*.py'

documentation:
  - '*.md'
  - '**/*.md'
  - '*.rst'
  - '**/*.rst'

Bump to version 1.55.0
  docs/source/conf.py
  setup.py
Labels: python

Cleanup merge of settings schema
  python/etl/commands.py
  python/etl/config/settings.schema
Labels: python

Cleanup py:class warnings, move types to args
  bin/build_docs
  docs/source/conf.py
  requirements-docs.txt
Labels: python

Start cleaning up docstrings
  python/etl/commands.py
  python/etl/config/__init__.py
  python/etl/logs/cloudwatch.py
Labels: python

Update pre-commit
  .pre-commit-config.yaml
Labels: none

Add statement_timeout parameter to Arthur Redshift cluster configuration
  python/etl/commands.py
  python/etl/config/settings.schema
  python/etl/dialect/redshift.py
  python/etl/load.py
Labels: python

Rename SQL variables to stop being sensitive to sql linters
  python/etl/load.py
Labels: python

Use correct standard argument
  python/etl/commands.py
Labels: python

Use appropriate metavor for statement timeout
  python/etl/commands.py
  python/etl/load.py
Labels: python

Add check for standard args
  python/etl/commands.py
Labels: python

Add metric block for when ETL hits exception
  python/etl/commands.py
Labels: python

Fix linting
  python/etl/commands.py
Labels: python

Add unittests
  README.md
  python/etl/commands.py
  python/etl/util/__init__.py
  tests/test_commands.py
Labels: python, documentation

Show metrics in "tail_logs"
  etc/cloudwatch.yaml
  python/etl/logs/cloudwatch.py
Labels: python

Run unittests as part of selftest
  python/etl/commands.py
  python/etl/selftest.py
Labels: python

Add wwarning around missing etl.commands
  python/etl/selftest.py
Labels: python

Bump version to 1.56.0
  setup.py
Labels: python

Rename "tags" to "list_tags" command
  etc/arthur_completion.sh
  python/etl/commands.py
  python/etl/config/__init__.py
Labels: python

Skip spaces to avoid horizontal scrollbar
  README.md
Labels: documentation

Allow human relative time information
  python/etl/commands.py
  python/etl/logs/cloudwatch.py
  python/etl/util/__init__.py
Labels: python

Add "groups" and "comment" to user info
  python/etl/commands.py
  python/etl/config/dw.py
  python/etl/config/settings.schema
  python/etl/data_warehouse.py
  python/etl/db.py
  tests/config/__init__.py
  tests/config/test_dw.py
Labels: python

Bump boto3 version
  requirements-linters.txt
  requirements.txt
Labels: none

Update pre-commit
  .pre-commit-config.yaml
Labels: none
