Repository harrystech/arthur-redshift-etl, pull requests merged in 2021-01, with the labels that each got.

#305 Use "date" and "timestamp" properly
  python/etl/config/default_settings.yaml
Labels: component: internals

#306 Add show_ddl command
  .dockerignore
  .gitignore
  etc/arthur_completion.sh
  python/etl/commands.py
  python/etl/config/default_settings.yaml
  python/etl/config/settings.schema
  python/etl/db.py
  python/etl/dialect/__init__.py
  python/etl/dialect/redshift.py
  python/etl/load.py
  python/etl/text.py
Labels: component: load

#311 Arthur can parse passwords containing the `=` sign.
  python/etl/db.py
Labels: bug fix, component: internals

#304 DENG-528: Upgrade Python Arthur
  Dockerfile
  bin/bootstrap.sh
  etc/aws_template.yaml
  python/etl/config/__init__.py
  python/etl/config/default_settings.yaml
  python/etl/templates/extraction_pipeline.json
Labels: component: internals, feature

#310 Improve create user command
  bin/upload_env.sh
  python/etl/commands.py
  python/etl/data_warehouse.py
  python/etl/db.py
Labels: component: documentation, enhancement
