Repository harrystech/arthur-redshift-etl, pull requests merged in 2021-07, with the labels that each got.

#420 Add test for distribution key
  python/etl/design/load.py
Labels: component: internals, feature

#410 Add bugbear and comprehension warnings to linter setup
  .pre-commit-config.yaml
  python/etl/commands.py
  python/etl/config/__init__.py
  python/etl/db.py
  python/etl/design/__init__.py
  python/etl/design/bootstrap.py
  python/etl/dialect/redshift.py
  python/etl/file_sets.py
  python/etl/load.py
  python/etl/monitor.py
  python/etl/relation.py
  python/etl/s3.py
  python/etl/text.py
  requirements-linters.txt
Labels: feature

#404 Organize templates and config code
  python/etl/commands.py
  python/etl/config/__init__.py
  python/etl/config/default_settings.yaml
  python/etl/config/dw.py
  python/etl/config/log.py
  python/etl/config/settings.py
  python/etl/pipeline.py
  python/etl/s3.py
  python/etl/selftest.py
  python/etl/templates/__init__.py
Labels: component: internals, enhancement

#405 Move unload into etl.dialect.redshift
  python/etl/dialect/redshift.py
  python/etl/unload.py
Labels: component: unload, feature

#392 Use region set for the command
  python/etl/monitor.py
Labels: component: internals, enhancement

#202 Support external schemas
  etc/arthur_completion.sh
  python/etl/commands.py
  python/etl/config/dw.py
  python/etl/config/settings.schema
  python/etl/data_warehouse.py
  python/etl/dialect/redshift.py
  python/etl/load.py
  python/etl/names.py
  python/etl/relation.py
Labels: component: extract, feature

#366 Cleanup monitor commands
  python/etl/commands.py
  python/etl/monitor.py
Labels: component: internals, enhancement

#471 Patch bootstrap_transformations
  python/etl/design/bootstrap.py
Labels: bug fix

#412 Long-lived shared cluster support and expression-based partitioning
  bin/long_lived_bootstrap.sh
  bin/upload_env.sh
  python/etl/commands.py
  python/etl/config/__init__.py
  python/etl/config/default_settings.yaml
  python/etl/config/settings.schema
  python/etl/config/table_design.schema
  python/etl/db.py
  python/etl/design/load.py
  python/etl/extract/extractor.py
  python/etl/extract/sqoop.py
  python/etl/load.py
  python/etl/relation.py
  python/etl/s3.py
Labels: component: extract, feature

#475 Fall back to "even" with interleaved sort
  Dockerfile
  python/etl/dialect/redshift.py
Labels: bug fix
