Repository harrystech/arthur-redshift-etl, pull requests merged in 2021-11, with the labels that each got.

#571 Split (auto-generated) docs by package
  .gitignore
  bin/build_docs
  docs/source/conf.py
  docs/source/index.rst
  docs/source/install.rst
  docs/source/run_profiler.md
  docs_src/etl/etl.assets.rst
  docs_src/etl/etl.config.rst
  docs_src/etl/etl.design.rst
  docs_src/etl/etl.dialect.rst
  docs_src/etl/etl.extract.rst
  docs_src/etl/etl.logs.rst
  docs_src/etl/etl.rst
  docs_src/etl/etl.templates.rst
  docs_src/etl/etl.util.rst
  docs_src/etl/modules.rst
Labels: enhancement, python, documentation

#575 Remove Spark as an option for extraction
  .github/PULL_REQUEST_TEMPLATE.md
  INSTALL.md
  bin/download_jars.sh
  bin/upload_env.sh
  python/etl/commands.py
  python/etl/extract/__init__.py
  python/etl/extract/database_extractor.py
  python/etl/extract/spark.py
  python/etl/extract/sqoop.py
  python/scripts/submit_arthur.sh
  setup.py
Labels: feature, python, documentation

#576 Document settings files
  bin/release_version.sh
  python/etl/commands.py
  python/etl/config/__init__.py
Labels: python

#580 Add "list_users" command
  etc/arthur_completion.sh
  python/etl/commands.py
  python/etl/config/__init__.py
  python/etl/config/default_settings.yaml
  python/etl/config/dw.py
  python/etl/config/settings.schema
  python/etl/config/table_design.schema
  python/etl/data_warehouse.py
  python/etl/db.py
Labels: python

#572 Move time into etl.util and start unit testing
  .github/workflows/lint.yaml
  .github/workflows/unittest.yaml
  .gitignore
  Dockerfile
  INSTALL.md
  README.md
  TESTING.md
  bin/build_virtual_env
  python/etl/commands.py
  python/etl/db.py
  python/etl/extract/extractor.py
  python/etl/load.py
  python/etl/monitor.py
  python/etl/relation.py
  python/etl/s3.py
  python/etl/selftest.py
  python/etl/sync.py
  python/etl/util/timer.py
  python/etl/validate.py
  requirements-all.txt
  requirements-coverage.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  tests/__init__.py
  tests/util/__init__.py
  tests/util/test_timer.py
Labels: feature, python, documentation

#577 Add option for tags to schemas and tables
  python/etl/commands.py
  python/etl/config/dw.py
  python/etl/config/settings.schema
  python/etl/config/table_design.schema
Labels: python

#586 DENG-1120: Add statement_timeout parameter to Arthur Redshift cluster configuration
  python/etl/commands.py
  python/etl/config/settings.schema
  python/etl/dialect/redshift.py
  python/etl/load.py
Labels: python

#583 Docs add autodoc hints
  bin/build_docs
  docs/source/conf.py
  python/etl/commands.py
  python/etl/config/__init__.py
  python/etl/logs/cloudwatch.py
  requirements-docs.txt
Labels: python

#587 Add metric block for when ETL hits exception
  README.md
  etc/cloudwatch.yaml
  python/etl/commands.py
  python/etl/logs/cloudwatch.py
  python/etl/util/__init__.py
  tests/test_commands.py
Labels: python, documentation

#589 Run unittests as part of selftest
  python/etl/commands.py
  python/etl/selftest.py
Labels: python

#588 Rename "tags" to "list_tags" command
  etc/arthur_completion.sh
  python/etl/commands.py
  python/etl/config/__init__.py
Labels: python

#590 Allow human relative time information
  README.md
  python/etl/commands.py
  python/etl/logs/cloudwatch.py
  python/etl/util/__init__.py
Labels: python, documentation

#601 DENG-1120: Use default cluster statement timeout value when none is provided
  python/etl/commands.py
  python/etl/config/__init__.py
  python/etl/dialect/redshift.py
Labels: python

#591 Add "groups" and "comment" to user info
  python/etl/commands.py
  python/etl/config/dw.py
  python/etl/config/settings.schema
  python/etl/data_warehouse.py
  python/etl/db.py
  tests/config/__init__.py
  tests/config/test_dw.py
Labels: python
